@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/segoe-wp-n");
.header__logo a > img:hover {
  transform: rotate(360deg);
  transition: 0.6s ease;
}
.header__logo a > img {
  transform: rotate(0deg);
  transition: 0.6s ease;
}
.header__nav-list li > a {
  transition: all ease 0.6s;
  animation: buttonHeaderRemove 0.5s ease-in-out forwards;
}
.header__nav-list li > a.hove {
  animation: buttonHeaderNav 0.5s ease-in-out forwards;
}
.header__foot-img a > img:hover {
  transform: skew(15deg);
  transition: 0.6s ease;
}
.header__foot-link a:hover {
  transition: 0.6s ease;
  animation: headerLinkBg 0.5s ease-in-out forwards;
}
.header__foot-link a {
  transition: 0.6s ease;
  animation: headerLinkBgRem 0.5s ease-in-out forwards;
}
.header__burger.active {
  opacity: 1;
}
.header__burger span {
  transition: 0.6s ease;
}
.header__burger.active span:nth-child(1) {
  transform: rotate(50deg);
  transition: 0.6s ease;
  position: relative;
  top: 17%;
}
.header__burger.active span:nth-child(2) {
  transform: scale(0);
}
.header__burger.active span:nth-child(3) {
  transform: rotate(-50deg);
  transition: 0.6s ease;
  position: relative;
  bottom: 50%;
}
.header__nav-list.active.row {
  transform: translate(0);
  transition: 0.6s ease;
  background-color: #020024;
}
.header__foot-text {
  animation: headerFootText 0.5s ease-in-out forwards;
  transition: 0.6s ease;
}

.main__icons-list.row {
  opacity: 0;
  transform: translateX(-125%);
  transition: all ease 1.5s;
}
.main__icons-list.row.swap {
  opacity: 1;
  transform: translateX(0);
  transition: all ease 1.5s;
}
.main__info-img {
  opacity: 0;
  transform: translateX(-125%);
  transition: all ease 1.5s;
}
.main__info-img.swap {
  opacity: 1;
  transform: translateX(0);
  transition: all ease 1.5s;
}
.main__info-title {
  opacity: 0;
  transform: translateX(-125%);
  transition: all ease 1.5s;
}
.main__info-title.swap {
  opacity: 1;
  transform: translateX(0);
  transition: all ease 1.5s;
}
.main__info-subtitle {
  opacity: 0;
  transition: all ease 1.5s;
}
.main__info-subtitle.swap {
  opacity: 1;
  transition: all ease 1.5s;
}
.main__why-video {
  opacity: 0;
  transform: translateX(-125%);
  transition: all ease 1.5s;
}
.main__why-video.swap {
  opacity: 1;
  transform: translateX(0);
  transition: all ease 1.5s;
}
.main__why-text {
  opacity: 0;
  transition: all ease 1.5s;
}
.main__why-text.swap {
  opacity: 1;
  transition: all ease 1.5s;
}
.main__buy-button {
  animation: buttonBuyBackground 10s ease infinite;
  width: 40%;
  transform: translate(-300%, 300%) rotate(360deg);
  transition: all 3s ease 0s;
}
.main__buy-button.swap {
  transform: translate(0, 0);
  transition: all 2s ease 0s;
  width: 100%;
}
.main__buy-button button {
  background-color: #fff;
  border-radius: 10px;
}
.main__buy form > div > a:hover {
  color: #000;
}
.main__buy form > div > input {
  height: 20px;
  width: 20px;
}
.main__buy-button button:hover {
  animation: buttonBuyHover 0.3s ease forwards;
}
.main__buy form > button:hover {
  background-color: #Fff;
  border: outset 1px #3f5efb;
  color: #000;
  transition: all ease 0.5s;
}

.arrow__up a.block {
  animation: arrowUp 0.5s ease-in-out forwards;
  transition: 0.6s ease;
  transform: translate(0);
}

.arrow__up a:hover {
  box-shadow: 0px 0px 40px #020024;
  transform: scale(1.1);
}

@keyframes buttonHeaderRemove {
  0% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 0%, rgb(255, 0, 0) 100%);
  }
  10% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 10%, red 90%);
  }
  20% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 20%, rgb(255, 0, 0) 80%);
  }
  30% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 30%, rgb(255, 0, 0) 70%);
  }
  40% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 40%, rgb(255, 0, 0) 60%);
  }
  50% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 50%, red 50%);
  }
  60% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 60%, red 40%);
  }
  70% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 70%, red 30%);
  }
  80% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 80%, red 20%);
  }
  90% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 90%, red 10%);
  }
  100% {
    background-color: #020024;
  }
}
@keyframes buttonHeaderNav {
  0% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 100%, rgb(255, 0, 0) 0%);
  }
  10% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 90%, red 10%);
  }
  20% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 80%, rgb(255, 0, 0) 20%);
  }
  30% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 70%, rgb(255, 0, 0) 30%);
  }
  40% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 60%, rgb(255, 0, 0) 40%);
  }
  50% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 50%, red 50%);
  }
  60% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 40%, red 60%);
  }
  70% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 30%, red 70%);
  }
  80% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 20%, red 80%);
  }
  90% {
    background: linear-gradient(176deg, rgba(255, 255, 255, 0) 10%, red 90%);
  }
  100% {
    background-color: red;
    box-shadow: 0px 0px 25px red;
  }
}
@keyframes headerLinkBg {
  0% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%);
  }
  10% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 90%, rgb(255, 255, 255) 90%);
  }
  20% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 80%, rgb(255, 255, 255) 80%);
  }
  30% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 70%, rgb(255, 255, 255) 70%);
  }
  40% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 60%);
  }
  50% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 50%);
  }
  60% {
    background: linear-gradient(180deg rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 50%);
  }
  70% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 70%, rgb(255, 255, 255) 50%);
  }
  80% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 80%, rgb(255, 255, 255) 80%);
  }
  90% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 90%, rgb(255, 255, 255) 90%);
    color: #000;
  }
  100% {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 25px #fff;
  }
}
@keyframes headerLinkBgRem {
  0% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%);
  }
  10% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 10%);
  }
  20% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 20%);
  }
  30% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 30%);
  }
  40% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 40%);
  }
  50% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 50%);
  }
  60% {
    background: linear-gradient(180deg rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 50%);
  }
  70% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 70%, rgb(255, 255, 255) 50%);
  }
  80% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 80%, rgb(255, 255, 255) 80%);
  }
  90% {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 90%, rgb(255, 255, 255) 90%);
    color: #000;
  }
  100% {
    background-color: none;
  }
}
@keyframes headerFootText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes buttonBuyHover {
  0% {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, #3f5efb 0%, rgb(255, 255, 255) 0%);
  }
  10% {
    background: radial-gradient(circle, rgb(63, 94, 251) 10%, rgb(255, 255, 255) 10%);
  }
  20% {
    background: radial-gradient(circle, rgb(63, 94, 251) 20%, rgb(255, 255, 255) 20%);
  }
  30% {
    background: radial-gradient(circle, rgb(63, 94, 251) 30%, rgb(255, 255, 255) 30%);
  }
  40% {
    background: radial-gradient(circle, rgb(63, 94, 251) 40%, rgb(255, 255, 255) 40%);
  }
  50% {
    background: radial-gradient(circle, rgb(63, 94, 251) 50%, rgb(255, 255, 255) 50%);
  }
  60% {
    background: radial-gradient(circle, rgb(63, 94, 251) 60%, rgb(255, 255, 255) 60%);
  }
  70% {
    background: radial-gradient(circle, rgb(63, 94, 251) 70%, rgb(255, 255, 255) 70%);
  }
  80% {
    background: radial-gradient(circle, rgb(63, 94, 251) 80%, rgb(255, 255, 255) 80%);
  }
  90% {
    background: radial-gradient(circle, rgb(63, 94, 251) 90%, rgb(255, 255, 255) 90%);
  }
  100% {
    background-color: rgb(63, 94, 251);
    box-shadow: 0px 0px 25px rgb(63, 94, 251);
    color: #fff;
  }
}
@keyframes buttonBuyBackground {
  0% {
    background-color: red;
  }
  10% {
    background: yellow;
  }
  20% {
    background: green;
  }
  30% {
    background: blueviolet;
  }
  40% {
    background: black;
  }
  50% {
    background: purple;
  }
  60% {
    background: skyblue;
  }
  70% {
    background: orangered;
  }
  80% {
    background: pink;
  }
  90% {
    background: rebeccapurple;
  }
  100% {
    background-color: #029bb1;
  }
}
@media (max-width: 62em) {
  .header__foot.row {
    align-items: center;
  }
  .header__foot-item.block {
    width: 200vw !important;
    gap: 0px !important;
  }
  .main__icons-list.row.swap {
    flex-direction: column;
    gap: 50px;
    margin: 250px 0px 0px 0px;
  }
  .main__why.row {
    flex-direction: column;
    align-items: center;
  }
  .main__why-title {
    text-align: center;
  }
  .main__buy-button.swap > button {
    width: 97%;
  }
  iframe {
    width: 300px;
    height: 315px;
  }
}
@font-face {
  font-family: "Segoe WPN";
  src: url(/fonts/SegoeWPN.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Univers CE";
  src: url(/fonts/UniversCE.ttf);
  font-weight: 400;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*ОБНУЛЕНИЕ СТИЛЕЙ %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 985px;
  padding: 0px 15px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

html {
  font-family: "Segoe WPN", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: calc(33px + 2.4765625vw);
  line-height: 1.2;
  font-weight: 600;
  color: #Fff;
}

h2 {
  font-size: calc(23px + 1.2265625vw);
  line-height: 1.2;
  font-weight: 300;
  color: #4f4f4f;
}

h3 {
  font-size: calc(17px + 1.2265625vw);
  font-size: 32.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #4f4f4f;
}

h4 {
  font-size: calc(13px + 1.2265625vw);
  font-size: 28px;
  font-weight: 300;
  color: #Fff;
}

h5 {
  font-size: calc(11px + 1.2265625vw);
  line-height: 1.2;
  font-weight: 300;
  color: #676666;
}

h6 {
  font-size: calc(7px + 1.2265625vw);
  font-weight: 300;
  color: #Fff;
}

p {
  font-family: "Univers CE", Arial, Helvetica, sans-serif;
  font-size: calc(12px + 0.15625vw);
  font-weight: 300;
  color: #818181;
}

.wrapepr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background: linear-gradient(176deg, #020024 38%, rgb(9, 121, 20) 52%, rgb(2, 193, 206) 63%, rgb(0, 212, 255) 76%);
  border-end-start-radius: 10%;
  border-end-end-radius: 10%;
}
.header__content {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 0px;
}
.header__nav-list.row {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  background-color: rgba(2, 0, 36, 0.2980392157);
  flex-direction: column;
  gap: 50px;
  align-items: flex-end;
  z-index: 5;
  padding: 150px 15px 0px 0px;
  transform: translateX(100%);
  transition: 0.6s ease;
}
.header__burger {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 6;
  opacity: 0.7;
}
.header__burger span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #Fff;
  border: solid 1px red;
}
.header__logo {
  width: 150px;
  height: 145px;
}
.header__nav-list {
  gap: 20px;
}
.header__nav-list li > a {
  font-size: 22.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #Fff;
  padding: 10px;
  border: solid 1px red;
  border-radius: 5px;
}
.header__nav-list li > a:hover {
  transition: 0.8s ease-in;
}
.header__head {
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 70px 0px;
}
.header__foot {
  justify-content: space-between;
  gap: 30px;
}
.header__foot-img {
  width: 329px;
  height: 259px;
}
.header__foot-img.block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4235294118);
  z-index: 4;
  display: flex;
  align-items: center;
  gap: 30px;
  color: #Fff;
  padding: 10px 20px;
}
.header__foot-item {
  background-color: #000;
  padding: 15px;
  border-radius: 10px;
  line-height: 1.5;
  letter-spacing: 1px;
  display: none;
}
.header__foot-item.block {
  display: block;
  width: 50vw;
  height: 60vh;
  overflow: auto;
}
.header__foot-item.block p {
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.header__foot-text {
  align-self: center;
}
.header__foot-title {
  margin: 0px 0px 40px 0px;
}
.header__foot-title span {
  font-size: calc(38px + 0.5234375vw);
  font-weight: 300;
  color: #Fff;
}
.header__foot-link a {
  padding: 10px 25px;
  background-color: #12b367;
  font-size: calc(7px + 1.2265625vw);
  line-height: 1.2;
  font-weight: 300;
  color: #Fff;
}

.main__icons {
  margin: calc(35px + 15.625vw) 0px 50px 0px;
}
.main__icons-list {
  align-items: center;
  justify-content: space-between;
}
.main__info {
  margin: 0px 0px 80px 0px;
}
.main__info-img {
  margin: 0px 0px 24px 0px;
}
.main__info-img img {
  border-radius: 15px;
}
.main__info-title {
  margin: 0px 0px 20px 0px;
}
.main__info-subtitle {
  line-height: 1.8;
}
.main__info-subtitle p {
  margin: 0px 0px 10px 0px;
}
.main__why {
  gap: 15px;
  margin: 0px 0px 50px 0px;
}
.main iframe {
  border-radius: 20px;
  width: calc(255px + 16.796875vw);
  height: 315px;
}
.main__why-title {
  margin: 0px 0px 25px 0px;
}
.main__why-list li {
  font-size: calc(14px + 0.15625vw);
  margin: 0px 0px 10px 0px;
  font-weight: 300;
  color: #676666;
}
.main__why-list li i {
  margin: 0px 10px 0px 0px;
  color: #e67624;
  font-size: calc(16px + 0.15625vw);
}
.main__buy {
  margin: 0px 0px 50px 0px;
}
.main__buy-button button {
  width: 99%;
  font-size: calc(23px + 1.2265625vw);
  margin: 5px;
}
.main__buy-button button > i {
  margin: 0px 10px 0px 0px;
  color: #e67624;
}
.main__buy form {
  background: #3f5efb;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;
  border-radius: 10px;
}
.main__buy form > h2 {
  margin: 0px 0px 20px 0px;
  color: #fff;
  font-weight: bold;
}
.main__buy form > h4 {
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}
.main__buy form > h4.color {
  color: green;
}
.main__buy form > input {
  width: 75%;
  font-size: calc(7px + 1.2265625vw);
  padding: 10px;
}
.main__buy form > input:focus {
  background: #ccc;
  border-radius: 10px;
  color: #3f5efb;
  font-weight: bold;
}
.main__buy form > textarea {
  resize: none;
  width: 100%;
  height: 25%;
  font-size: calc(7px + 1.2265625vw);
  border-radius: 10px;
  padding: 5px;
}
.main__buy form > div {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0px;
}
.main__buy form > div > a {
  color: #Fff;
  text-decoration: underline;
}
.main__buy form > button {
  font-size: calc(7px + 1.2265625vw);
  padding: 5px;
  background-color: #3f5efb;
  border: 1px outset #Fff;
  color: #Fff;
  transition: all ease 0.5s;
}

.footer {
  background: #020024;
}
.footer__columns {
  justify-content: space-between;
  padding: 20px;
}
.footer__columns-about {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__columns-about h5 {
  color: #Fff;
  font-weight: 900;
  margin: 10px 0px;
}
.footer__end {
  text-align: center;
  font-size: calc(15px + 0.15625vw);
  margin: 0px 0px 20px 0px;
}
.footer__end a {
  color: #Fff;
  text-decoration: underline;
}
.footer__end a:hover {
  color: blueviolet;
}

.columns-about__list li {
  margin: 0px 0px 10px 0px;
}
.columns-about__list li i {
  margin: 0px 10px 0px 0px;
}
.columns-about__list li:nth-child(1) > a {
  color: red;
  font-size: calc(7px + 1.2265625vw);
}
.columns-about__list li:nth-child(2) > a {
  color: seagreen;
  font-size: calc(7px + 1.2265625vw);
}
.columns-about__list li:nth-child(3) > a {
  color: rgb(255, 179, 0);
  font-size: calc(7px + 1.2265625vw);
}
.columns-about__list li:nth-child(4) > a {
  color: blue;
  font-size: calc(7px + 1.2265625vw);
}
.columns-about__list li:nth-child(5) > a {
  color: skyblue;
  font-size: calc(7px + 1.2265625vw);
}

.icons-list__item {
  align-items: center;
  gap: 10px;
}
.icons-list__item:nth-child(1) {
  background: url(../img/layer_1.png) 0% 0% no-repeat;
}
.icons-list__item:nth-child(1) li:nth-child(1) {
  width: 137px;
  height: 157px;
  position: relative;
}
.icons-list__item:nth-child(1) li:nth-child(1) img {
  position: absolute;
  top: 23%;
  left: 28%;
}
.icons-list__item:nth-child(2) {
  background: url(../img/layer_2.png) 0% 0% no-repeat;
}
.icons-list__item:nth-child(2) li:nth-child(1) {
  width: 137px;
  height: 157px;
  position: relative;
}
.icons-list__item:nth-child(2) li:nth-child(1) img {
  position: absolute;
  top: 23%;
  left: 20%;
}
.icons-list__item:nth-child(3) {
  background: url(../img/layer_3.png) 0% 0% no-repeat;
}
.icons-list__item:nth-child(3) li:nth-child(1) {
  width: 137px;
  height: 157px;
  position: relative;
}
.icons-list__item:nth-child(3) li:nth-child(1) img {
  position: absolute;
  top: 23%;
  left: 18%;
}
.icons-list__item:nth-child(4) {
  background: url(../img/layer_4.png) 0% 0% no-repeat;
}
.icons-list__item:nth-child(4) li:nth-child(1) {
  width: 137px;
  height: 157px;
  position: relative;
}
.icons-list__item:nth-child(4) li:nth-child(1) img {
  position: absolute;
  top: 23%;
  left: 11%;
}

.eror {
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s ease;
}

.eror.true {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s ease;
  color: red;
  font-weight: 900;
}

.arrow__up a {
  padding: 20px;
  position: fixed;
  right: 0;
  bottom: 20px;
  background-color: #020024;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  transform: translate(100%);
  font-size: 20px;
  font-weight: bold;
  z-index: 7;
}