@import url('https://fonts.cdnfonts.com/css/segoe-wp-n');

@font-face {
    font-family: 'Segoe WPN';
    src: url(/fonts/SegoeWPN.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Univers CE';
    src: url(/fonts/UniversCE.ttf);
    font-weight: 400;
}